PUBLIC_KEY=0xYOUR_PUBLIC_KEY
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
BUYER=0xYourBuyerAddress
RPC_URL=https://testnet.hashio.io/api
CHAIN_ID=296
CONTRACT=0xYourDeployedContractAddress

cast guide: https://book.getfoundry.sh/reference/cast && https://www.notion.so/Forgery-caste-2846eb14444a803e889dd65073885385